body 
{
background-size: cover;
background-position: center;
}

.heading
{
font-size: 30px;
font-family: ALGERIAN;
color: blue;
width: 100%;
margin: 0px;
}

#status
{
font-size: 25px;
}

canvas 
{
    border: 22px ridge blue;
    box-shadow: 11px 11px 11px greenyellow;
}

